* {
    font-family: arial;
}

body {
    background-color: rgb(18, 7, 60);
    background-image: url('stars.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white
}

a,
a:hover,
a:visited {
    color: white;
    text-decoration: none;
}